---
import Navbar from '../components/Navbar.astro'
const {title="surreal TECH"} = Astro.props;
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <style>
        @import "../styles/global.css";
        @import "../styles/home.css";
    </style>
</head>
<body>
    <Navbar />
    <main>
        <slot />
    </main>

    <footer class="blur">
        <small>Copyright <span id="copyrightYear"></span> SURREALTECH</small>
    </footer>

    <script>
        document.querySelector('#copyrightYear')!.textContent = new Date().getFullYear().toString();

    </script>
</body>
</html>
