---
import Icon from 'astro-icon'
const navLinks = [
    {
        name: 'Home',
        url: '/',
    },
    {
        name: 'Features',
        url: '#'
    },
    {
        name: 'Blog',
        url: '#',
    }

];
---

<nav>
    
</nav>