---
import Icon from 'astro-icon'
const navLinks = [
    {
        name: 'Home',
        url: '/',
    },
    {
        name: 'Features',
        url: '#'
    },
    {
        name: 'Blog',
        url: '#',
    },
    {
        name: 'Login',
        url: 'login.astro',
    },

];
---

<nav>
   <img src="../icons/logo.svg" alt="">
    
</nav>